<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <!-- Country drop down select -->
    <form action="/" method="post">
      <select name="country" id="country">

        <% data.forEach((item) => { %>   <!-- loop through each item in the data (array) and list it in the drop down -->
            <option value="<%=item.name%>"><%=item.name%></option>
          <% }) %>
        </select>
      <button type="submit">Submit</button>
    </form>

    
<!-- Cities drop down select -->
<form action="/uv" method="post">
  <select name="cities" id="cities">
    <%    if (locals.cities) { %>  <!-- check if the cities exist then put all the cities in the drop down -->
      <% cities.forEach((item) => { %>
      <option value="<%=JSON.stringify(item)%>"><%=item.name%></option>
      <% }) %>
<%} else { %>
  <p> error </p>
<%}%>
  </select>
  <button type="submit">Submit</button>
</form>
  </body>
</html>
